{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="card-body messages-box">
      <ul class="list-unstyled messages-list">

        {% for chat in chats %}
        {% if chat.user == request.user %}

        <li class="message sent">
          <div class="message-text">
            <div class="message-sender">
              <b>{{ user.username }}</b>
            </div>
            <div class="message-content">
              {{chat.message}}
            </div>
          </div>
        </li>

        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>Docs.AI</b>
            </div>
            <div class="message-content">
              {{chat.response}}
            </div>
          </div>
        </li>

        {% endif %}
        {% endfor %}

      </ul>

    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <textarea class="form-control message-input" placeholder="Your query..."></textarea>
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Send</button>
      </div>
    </div>
  </form>
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock %}